{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %} {% block title %}order details {% endblock %}{% load humanize %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto bg-light mt-2">
            <h4 class="text-info">Order Details</h4>
            <hr>
            <p><span class="font-weight-bold fs-5 px-2">Order Id:</span>#ORDER_{{ord_obj.id}}</p>
            <p><span class="font-weight-bold fs-5 px-2">Order cart:</span>{{ord_obj.cart}}</p>
            <p><span class="font-weight-bold fs-5 px-2"> Order cart:</span>{{ord_obj.order_status}}</p>
            <p><span class="font-weight-bold fs-5 px-2">Ordered at:</span>{{ord_obj.created_at}} ({{ord_obj.created_at|timesince }}) ago</p>
            <p><span class="font-weight-bold fs-5 px-2">Customer Information:</span>{{ord_obj.ordered_by }},({{ord_obj.email }}) </p>
            <p><span class="font-weight-bold fs-5 px-2"><span>Shipping Address:</span>{{ord_obj.shipping_address}} call: ({{ord_obj.mobile }})</p>
            <hr>
            <table class="table">
                <thead>
                    <th>SN</th>
                    <th>Item</th>
                    <th>Image</th>
                    <th>Color</th>
                    <th>Rate</th>
                    <th>Dcnt</th>
                    <th>Quantity</th>
                    <th>subtotal</th>
                </thead>
                <tbody>
                    {% for cp in ord_obj.cart.cartproduct_set.all %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a target="_blank" href="{% url 'eccomapp:productdetail' cp.product.slug %}">{{cp.product.title}}({{cp.product.id}})</a> </td>
                        <td><img src="{{cp.product.image.url}}" class="img-fluid" width="40px" height="80px"></td>
                        <td>{{cp.product.color}}</td>
                        <td>{{cp.rate}}</td>
                        <td>{{cp.product.discount}}%</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.subtotal}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="6" class="text-right">Total: </th>
                        <th>ksh. {{ord_obj.total|intcomma}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}